$blue: #205072;
$light-grey: #f3f3f3;
$grey: #696969;
$ligt-yellow: #ffe691;
$dark-yellow: #ffd138;
$light-red: #d01a2f;
$dark-red: #9b2734;


html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  background-color: #fefcfb;
}

body, a {
  color: $blue;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding-bottom: 50px;
}

h2, body>p {
  padding: 0 10px;
}

header {
  color: white;
  background-color: $blue;
  width: 100%;
  padding: 10px;
  a {
    color: white;
    text-decoration: none;
  }
  p {
    font-weight: bold;
  }
  h1 {
    margin-top: 6px;
    text-decoration: none;
    span {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
  nav {
    text-align: right;
    input {
      display: none;
    }
    input:checked ~ ul {
      transition: height 0.5s ease-in-out;
      height: calc(100vh - 68px);
    }
    label {
      width: 50px;
      display: inline-block;
      height: 30px;
      position: absolute;
      right: 0;
      img {
        width: 30px;
        margin-top: 11.5px;
        margin-right: 10px;
      }
    }
    ul {
      width: 100vw;
      height: 0;
      margin: 0;
      margin-top: 60px;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      list-style-type: none;
      position: absolute;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0;
      z-index: 999;
      li {
        a {
          text-decoration: none;
          padding: 20px;
          text-align: left;
          display: block;
          font-weight: bold;
        }
      }
    }
  }
  #line {
    width: calc(100% - 20px);
    background-color: white;
    height: 1px;
  }
}

#main-page-wrapper {
  padding-bottom: 0;
}
#main-page {
    background-color: $blue;
    color: white;
    padding: 10px;
    height: calc(100vh - 145px);
    padding-bottom: 200px;
    h2 {
      padding: 0;
    }
    #main-page-buttons-heading {
      text-align: center;
      font-weight: bold;
      padding-top: 20px;
    }
    #main-page-buttons {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      a {
        border: 1px solid white;
        padding: 10px 20px;
        width: 30vw;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        display: block;
        color: white;
      }
    }
}

form {
  div {
    background-color: $light-grey;
    padding: 30px 10px;
    margin: 20px 10px;
    border-radius: 5px;
    p:first-child {
      font-weight: bold;
      font-size: 1.2em;
      margin-top: 0;
    }
    input, textarea {
      border: none;
      border-radius: 5px;
      padding: 8px;
      height: 1.5em;
      font-family: 'Quicksand', sans-serif;
      font-size: 1em;
      margin: 5px 0;
      color: $grey;
      min-width: 12em;
      font-size: 1em;
      font-family: inherit;
    }
    input[type="number"] {
      min-width: 0;
      width: 3em;
    }
    input[type="checkbox"] {
      min-width: 0;
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-color: white;
      -webkit-appearance: none;
      margin-top: 10px;
    }
    input[type="submit"] {
      height: 2.3em;
      color: white;
      background-color: $blue;
      -webkit-appearance: none;
    }
    > a {
      color: white;
      text-decoration: none;
      border-radius: 5px;
      padding: 8px;
      background-color: $blue;
      margin: 10px 0;
      display: inline-block;
    }
    textarea {
      resize: none;
      height: 10em;
      width: calc(100% - 15px);
    }
    img {
      position: absolute;
      margin-top: 14px;
      margin-left: 7.8em;
      z-index: 1;
    }
    select {
      width: 10em;
      padding: 8px;
      border-radius: 5px;
      border: none;
      -webkit-appearance: none;
      font-family: inherit;
      font-size: 1em;
      color: $blue;
      background-color: white;
    }
    .inputfile {
	    width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    z-index: -1;
    }
    .inputfile + label {
      display: inline-block;
      color: white;
      background-color: $blue;
      padding: 8px 20px;
      border-radius: 5px;
    }
    .inputfile:focus + label, .inputfile + label:hover {
      cursor: pointer;
    }
    .inputfile:focus + label {
	    outline: 1px dotted #000;
	    outline: -webkit-focus-ring-color auto 5px;
    }
  }
  div:last-child {
    input[type="text"], input[type="email"], input[type="password"] {
      width: calc(100% - 15px);
    }
    label {
      position: relative;
      padding-left: 3.2rem;
      display: inline-block;
      margin: 20px 0;
      min-height: 2.5em;
      input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5em;
        width: 2.5em;
        border: none;
        background-color: white;
        border-radius: 5px;
      }
      span:after {
        content: "";
        position: absolute;
        display: none;
      }
      input:checked ~ span:after {
        display: block;
      }
      span:after {
        left: 0.9em;
        top: 0.5em;
        width: 0.5em;
        height: 1em;
        border: solid $blue;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}

#delete-form {
  min-height: auto;
  div {
    border: 1px solid $dark-red;
    p {
      padding: 0;
    }
    input {
      background-color: $light-red;
      border: 1px solid $dark-red;
    }
  }
}

#ads-options {
  padding: 0 10px;
  form {
    min-height: auto;
  }
  img {
    position: absolute;
    margin-top: 14px;
    margin-left: 7.8em;
    z-index: -1;
  }
  select {
    width: 10em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $blue;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 1em;
    color: $blue;
    background: none;
  }
  p {
    margin-bottom: 5px;
  }
  input {
    background-color: $blue;
    border-radius: 5px;
    border: none;
    padding: 9px;
    color: white;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 1em;
    position: absolute;
    right: 10px;
  }
}

#list-block-wrapper {
  .list-block {
    background-color: $light-grey;
    padding: 20px 10px;
    margin: 20px 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: $blue;
    #img-wrapper {
      max-height: 70vw;
      height: auto;
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    strong {
      margin-top: 10px;
      margin-bottom: 0;
      display: block;
      font-size: 1.2em;
    }
  }
}

#ad {
  margin: 20px 0;
  #img-wrapper {
    max-height: 70vw;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  p, h2 {
    padding: 0 10px;
  }
}

#myad {
  #img-wrapper {
    background-color: $light-grey;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    img {
      border-radius: 2px;
      width: 100%;
    }
  }
  form {
    min-height: auto;
  }
}

#about {
  padding: 10px;
  h2 {
    padding: 0;
  }
}

footer {
  background-color: $blue;
  color: white;
  padding: 10px 5px;
  width: 100%;
  p {
    margin: 0;
  }
}

.error-message {
  background-color: $ligt-yellow;
  color: black;
  border: 1px solid $dark-yellow;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  a {
    color: black;
  }
}

@media(min-width:800px) {
  header {
    nav {
      label {
        display: none;
      }
      ul {
        height: auto;
        width: auto;
        background: none;
        margin-top: 0;
        li {
          display: inline-block;
        }
        li:last-child a {
          padding-right: 10px;
        }
      }
    }
  }

  #main-page {
    #main-page-buttons {
      justify-content: space-around;
    }
  }

  #ads-options {
    position: relative;
    form > * {
      display: inline-block;
    }
    img {
      margin-top: 20px;
    }
    input {
      margin-top: 7px;
    }
  }

  #list-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    .list-block {
      width: calc((100% - 120px) / 3);
      #img-wrapper {
        max-height: 215px;
      }
    }
  }

  form {
    width: 100%;
    div {
      width: 700px;
      margin-left: calc((100% - 700px) / 2);
    }
  }

  #ad {
    display: flex;
    min-height: 73vh;
    #img-wrapper {
      display: inline-block;
      margin: 10px;
      width: 40%;
      border-radius: 5px;
      img {
        border-radius: 5px;
      }
    }
    #text {
      display: inline-block;
      width: 40%;
    }
  }

  #myad {
    #img-wrapper {
      width: 700px;
      margin-left: calc((100% - 700px) / 2);
      img {
        max-width: 300px;
      }
    }
  }

  .error-message {
    margin: 20px 0;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

@media(min-width: 1000px) {
  header, footer, #main-page, #list-block-wrapper, h2, body>p, #about {
    width: 960px;
    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);
  }
  .form-error-message {
    width: 940px;
    margin-left: calc((100% - 960px) / 2);
    margin-right: calc((100% - 960px) / 2);
  }
  header nav ul {
    right: calc((100% - 960px) / 2);
    li:last-child a {
      padding-right: 0;
    }
  }
  header #line {
    width: 100%;
  }
  #main-page {
    #main-page-buttons-heading {
      padding-top: 80px;
    }
    #main-page-buttons {
      justify-content: center;
      padding-bottom: 80px;
      a {
        width: 170px;
        margin: 0 20px;
      }
    }
  }
  #ads-options {
    width: 960px;
    padding: 0 calc((100% - 960px) / 2);
    p ~ p {
      margin-left: 20px;
    }
    img {
      margin-top: 22px;
      margin-left: 8em;
      width: 22px;
    }
    input[type="submit"] {
      right: calc((100% - 920px) / 2);
      top: 7px;
      position: static;
      margin-left: 20px;
    }
  }
  #list-block-wrapper {
    width: 980px;
    padding-left: calc((100% - 980px) / 2);
    padding-right: calc((100% - 980px) / 2);
  }
  form {
    div {
      text-align: center;
      img {
        margin-top: 13px;
        margin-left: 8em;
        width: 22px;
      }
    }
    div:last-child {
      input[type="email"], input[type="password"], input[type="text"] {
        width: 250px;
      }
    }
  }
  #ad {
    width: 960px;
    padding: 0 calc((100% - 960px) / 2);
  }
  .error-message {
    margin: 10px;
  }
}

@media(min-width: 1500px) {
  header, footer, #main-page, #list-block-wrapper, h2, #ads-options, body>p, #about {
    width: 1200px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
  .form-error-message {
    width: 1180px;
    margin: 10px 0;
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
  }
  header nav ul {
    right: calc((100% - 1200px) / 2);
  }
  #list-block-wrapper {
    width: 1200px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    .list-block {
      #img-wrapper {
        max-height: 270px;
      }
    }
  }
  header {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  #main-page-header {
    padding-top: 100px;
  }
  .error-message {
    margin: 10px 0;
  }
}
